
{% extends 'base.html' %}
{% load static%}
<!-- Styles block -->
{% block styles %}

    {{block.super}}
      <link rel="stylesheet" href="{% static 'css/index.css'%}">

{% endblock %}

 {% block content %}

   <div class="col-md-1">

   </div>


      <section class="no-touch col-md-5">
        {% for image in images %}
          <div class="wrap col-md-12"style="border-bottom: 2px solid rgb(19, 175, 167);">
            <div class="box col-md-12" >
              <div class="" >
                <a href="{% url 'singleImage' image.id %}">
                    <img src="{{ image.image.url }}"  class="img-responsive"style="height:60%; width:90%; margin-left:10px;0%; margin-bottom:10px;margin-top:10px;" >
                </a>
                <div style="margin-bottom:30px;">
                  {{image.image_caption|upper}}
                   <span style="color:rgb(35, 106, 180)">{{image.user.username}}</span>
                    <span style="color:grey ;margin-left:10px; font-size:10px;"> click image to see details</span><br>
                    <a href="{% url 'Comment' image.id %}">
                      <button type="button" class="btn btn-primary" name="button">Comment</button>
                    </a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}

      </section>

      <section class="col-md-5 col-sm-12">
        <center><p style=" margin-left:10px;color:rgb(4, 47, 74); padding-top:10px; margin-right:20px;font-size:25px;">Explore grammers</p></center>
        {%for profile in grammers %}
        <div class=" well col-md-4" style="background-color:(199, 199, 199)">
          {% if profile %}

          <img src="{{ profile.profile_photo.url }}"  class="img-responsive"style="margin-left:50%; margin-top:10px;height:40px;width:40px; border-radius:50%; ">
        </div>
        </div>
        <div class=" well col-md-8" style="background-color:(199, 199, 199)">
          <a href="{% url 'otherProfile' profile.id %}">
          <p style=" margin-left:10px;color:rgb(19, 175, 167); padding-top:10px; margin-right:10px;font-size:25px;">{{profile.user}}</p></a>

        </div>

        {% endif %}

        {% endfor %}
      </section>
      <hr style="color:rgb(19, 175, 167);">
        <hr style="color:red">



{% endblock %}
