<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://use.fontawesome.com/80caa23151.js"></script>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header col-sm-4 col-sm-offset-4">
          <a href="{% url 'timeline'%}" class="navbar-brand siteIcon">
              <i class="fa fa-instagram 2x" aria-hidden="true"></i>
          </a>

          <a class="navbar-brand" href="{% url 'timeline'%}">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/2000px-Instagram_logo.svg.png" width=80pxpx height=35px alt="INSTAGRAM">
          </a>

      </div>









    <!-- Adding a search form  -->
      <div class="col-sm-4 col-md-4 col-md-offset-3 ">

          <form class="navbar-form" role="search" action="">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search " name="photos">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
              </div>
            </div>
          </form>

          <p>{{request.user}} {{request.user.id}}</p>

      <!-- search form end  -->






      <a href=" {% url 'postImage'%}">
        <button type="button" name="button" class="btn btn-success btn-md">Create Post </button>
      </a>







          <div class="col-sm-6 col-md-6">
                  {% if user.is_authenticated %}
                  <ul>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
                                <span class="caret"></span>
                            </a>
                      <ul class="dropdown-menu" role="menu">
                        <li>
                          <a href="/accounts/password/change">Change Password</a>
                        </li>
                        <li>
                          <a href="/logout">Logout</a>
                        </li>
                        <a href="{{'profile'}}">profile</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  {% else %}
                  <li>
                    <a class='btn btn-default' href="/accounts/login">Login</a>
                  </li>

                  {% endif %}
          </div>

  </div>
    </nav>
</body>
</html>
