{% extends 'base.html' %}
{% load static %}


<!-- Styles block -->
{% block styles %}

    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/profile.css'%}">

{% endblock %}

<!-- Content block -->
{% block content %}

    {{block.super}}

    <div class="container">
      <div class="row ">
        <div class=" well col-md-4 col-lg-4">
              <h1 class="createPost">
                  <a href=" {% url 'postImage'%}">
                       <button type="button" name="button" class="btn btn-success btn-md">Create Post </button>
                      <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                  </a>
              </h1>
              {% for detail in info %}

                <h1 class="username">
                    {{detail.user.username}}
                </h1>
                  <hr>


                      <img src="{{detail.profile_photo.url}}" alt="{{request.user.username}}" class="img-responsive"  id="circular-image">
                    <hr>
                    <p>{{detail.bio}}</p>

                {% endfor %}
            </div>




        <!-- Current User's Posts  -->

        <div class=" well col-md-6 col-md-offset-1" style="padding:5px; border:2px;" >
            {% for pic in pics %}
            <div class="col-md-4">
              <button type="button" class="btn btn-danger-sm" name="button">remove</button>
              <img src="{{pic.image.url}}" alt="{{Image.image_name}}" class="img-responsive postImage" width="60%" height="40%x" style="padding:5px;">
            </div>

            {% endfor %}
        </div>

        </div>

    </div>

{% endblock %}
