{% extends 'base.html' %}
{% load static %}


<!-- Styles block -->
{% block styles %}

    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/profile.css'%}">

{% endblock %}

<!-- Content block -->
{% block content %}

    {{block.super}}

    <div class="container">
      <h1 class="createPost">

          <a href=" {% url 'postImage'%}">
               <button type="button" name="button" class="btn btn-success btn-md">Create Post </button>
              <i class="fa fa-plus-square-o" aria-hidden="true"></i>
          </a>

      </h1>

      <div class="row ">
            <div class="col-md-6 col-lg-6">
                <h1 class="username">
                    {{current_user.username}}
                </h1>
            </div>
        </div>

        <hr>

        <!-- Current User's Posts  -->
        {% for detail in info %}

        <div class="col-md-4 col-lg-4">
            <img src="{{detail.profile_photo.url}}" alt="{{Image.image_caption}}" class="img-responsive"  id="circular-image">
            <hr>
            <p>{{detail.bio}}</p>
        </div>

        {% endfor %}

        <div class="col-md-6">
            {% for pic in pics %}
            <div class="col-md-4">
              <button type="button" class="btn btn-danger-sm" name="button">remove</button>
              <img src="{{pic.image.url}}" alt="{{Image.image_name}}" class="img-responsive postImage" width="60%" height="40%x" style="padding:5px;">
            </div>

            {% endfor %}
        </div>

    </div>

{% endblock %}
