
{%extends 'base.html'%}
{% load staticfiles%}
{% load bootstrap3 %}
 {%block content%}
<div class="container">
    <div class="col-xs-1 col-sm-1 col-md-3 col-lg-3 col-xl-3"></div>
    <div class="col-xs-10 col-sm-10 col-md-6 col-lg-6 col-xl-6">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %} {% bootstrap_form form layout='inline'%}
            <input type="submit" class="btn btn-primary btn-sm" value="Submit">
            <input type="hidden" name="next" value="{{next}}">

        </form>
        <p><a href="{% url 'profileView' %}">Back</a></p>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-3 col-lg-3 col-xl-3"></div>
</div>
{% endblock %}
