


.no-touch {
  background-color:white;
  padding-top: 20px;
  position

}







h1.createPost > a:hover{
    color: #000;
    text-decoration: none;
}

i.fa.fa-plus-square-o{
    margin-left: 0.25em;
}

img.img-responsive.postImage{
    height: 45vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
